{% extends 'base.html.twig' %}

{% block title %}Création d'un évènement{% endblock %}

{% block body %}
    <h1  class="col d-flex align-items-center justify-content-center link-light text-decoration-underline">Créer un évènement</h1>

    <h2 class="d-grid gap-2 d-md-flex justify-content">
        <a class="link-primary fw-bold btn btn-primary bg-light" href="{{ path('app_admin') }}">Menu admin</a>
    </h2>

    {{ include('gestionAdmin/_form.html.twig') }}
    <div class="d-grid gap-2 d-md-flex justify-content">
        <a class="link-primary fw-bold btn btn-primary bg-light" href="{{ path('app_evenement_index') }}">Retour à la liste des évènements</a>
    </div>
{% endblock %}
