{% extends 'base.html.twig' %}

{% block title %}New Acceuil{% endblock %}

{% block body %}
    <h1>Create new Acceuil</h1>

    {{ include('acceuil/_form.html.twig') }}

    <a href="{{ path('app_acceuil_index') }}">back to list</a>
{% endblock %}
