@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
    background: url(/assets/Images/Fond_accueil3.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
#logo
{
    content:url(/assets/Icons/IconeAccueil.png);
    height: 70px;
}

#Admin
{
    content:url(/assets/Images/IconeAdmin.png);
    height: 60px;
}

#Salon
{
    content:url(/assets/photoSalon/AccueilBoutique.jpg);
   
}

#Salon1
{
    content:url(/assets/photoSalon/salleDeTatouage.jpg);
    
}

#Salon2
{
    content:url(/assets/photoSalon/matérielTatouage.jpg);
    
}

#TitreAccueil
{  
    font-size: 250px;
    background: -webkit-linear-gradient( #BF8F9C, #842DCE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Brush Script MT', cursive, sans-serif;   
}