@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
    background: url(/assets/Images/Fond_accueil3.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
#logo
{
    content:url(/assets/Icons/IconeAccueil.png);
    height: 70px;
}

#Admin
{
    content:url(/assets/Images/IconeAdmin.png);
    height: 60px;
}

#Flora
{
    content:url(/assets/photoSalon/Flora.jpg);

}

#Salon
{
    content:url(/assets/photoSalon/AccueilBoutique.jpg);
   
}

#Salon1
{
    content:url(/assets/photoSalon/SalleDeTattoo.jpg);
    
}

#Salon2
{
    content:url(/assets/photoSalon/matérielTatouage.jpg);
    
}

#TitreAccueil
{  
    font-size: 250px;
    background: -webkit-linear-gradient( #BF8F9C, #842DCE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Brush Script MT', cursive, sans-serif;   
}

#Evenement1
{
    content:url(/assets/PhotoEvenement/Quimper-2024.jpg);
    height: 500px;
    width: 489px;

}

#Evenement2
{
    content:url(/assets/PhotoEvenement/Nancy-2024.jpg);
    height: 500px;
    width: 489px;

}

#Evenement3
{
    content:url(/assets/PhotoEvenement/St-Quentin-2024.jpg);
    height: 500px;
    width: 489px;

}

#Evenement4
{
    content:url(/assets/PhotoEvenement/Mons-2024.jpg);
    height: 500px;
    width: 489px;

}

#Evenement5
{
    content:url(/assets/PhotoEvenement/Douai-2023.jpg);
    height: 500px;
    width: 489px;

}