@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
    background: url(/assets/Images/Fond_accueil3.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
#logo
{
    content:url(/assets/Images/IconeAcceuil.png);
    height: 70px;
}
